@media #{$small-only} {
	header {
		section.hero {
			position: relative;
			h2 {
				font-size: 36px;
			}
		}
		section.logo {
			@include grid-column(3);
			height: 100%;
			margin-top: 2em;
		}
		section.title {
			@include grid-column(9);
			margin-top: 1em;
			text-align: right;
		}
	}
	main > article > section {
		margin-bottom: 1em;
	}
}