$row-width: 100%;
header {
  @include grid-row;
  section.logo {
    @include grid-column(8);
    height: 100%;
    img {
      margin-top: 1em;
      margin-bottom: 1em;
      height: auto;
      width: 150px;
      border-radius: 100%;
      border: .1em solid $blue;
    }
  }
  section.title {
    @include grid-column(4);
    margin-top: 1em;
    text-align: right;
    h2 {
      &:before {
        content: '';
        display: inline-block;
        padding-right: 1em;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #000;
      }
    }
  }
  section.hero {
    @include grid-column(12);
    background: url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
    color: $white;
    min-height: 300px;
    text-align: center;
    text-shadow: 1px 1px 10px darken($offWhite, 50%);
    h2 {
      font-size: 72px;
      font-weight: 400;
      letter-spacing: 10px;
      transform: translateY(40%);
    }
    h3 {
      letter-spacing: 8px;
      font-size: 28px;
    }
  }
}
