@import "01-plugins/plugins";
@import "02-partials/partials";

main {
 @include grid-row;
 article {
   @include grid-column(12);
   margin-bottom: 2em;
   h2 {
     margin-left: .6em;
     text-transform: uppercase;
   }
   a {
     display: inline-block;
     background: $offWhite;
     color: grey;
     text-align: center;
     text-decoration: none;
     border-bottom: 1px solid;
   }
   img {
     max-height: 300px;
     width: 100%;
     text-align: center;
     &:hover {
      transition: .5s;
      opacity: .80;
     }
   }
   section {
     @include grid-column(4);
     @media #{$small-only} {
      @include grid-column(12);
     }
   }
 }
}
